
body{

    background-image: url(https://wallpapercrafter.com/th8001/560000-background-texture-grunge-distressed-layer-wall.jpg);

    background-size: cover;
}
.container{
    font-size: large;
    
}